#{extends 'main.html' /}
#{set title:'Recherche de Commune' /}

#{set 'moreStyles'}
	<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/images/flick/jquery-ui-1.8.10.custom.css'}">
#{/set}
#{set 'moreScripts'}
	<script src="@{'/public/javascripts/jquery-ui-1.8.10.custom.min.js'}" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
$(function() {
		$( "#search" ).autocomplete({
			source: "@{Application.searchCommunes}",
			minLength: 2,
			select: function( event, ui ) {
				if(ui.item){
					$("#codeCommune").val(ui.item.id);
				}
			}
		});
	});
</script>
#{/set}
 
<form action="@{Application.searchCommune()}" method="GET" accept-charset="utf-8" enctype="application/x-www-form-urlencoded" class="horizontal_form">
	<ul>
		<li><input type="text" id="search"/><input type="hidden" id="codeCommune" name="code"/><input type="submit" value="Rechercher" /></li>
	</ul>
</form>

#{if commune}
<h4>${commune.articleEnrichi} ${commune.libelleEnrichi}</h4>
<form class="horizontal_form">
	<ul>
		<li><label>Code INSEE:</label><span>${commune.code}</span></li>
		<li><label>Code Postal:</label><span>${commune.codePostal}</span></li>
		<li><label>R&eacute;gion:</label><a href="@{Application.region(commune.region.code)}">${commune.region.libelleEnrichi} (${commune.region.code})</a></li>
		<li><label>D&eacute;partement:</label><a href="@{Application.departement(commune.departement.code)}">${commune.departement.libelleEnrichi} (${commune.departement.code})</a></li>
		<li><label>Arrondissement:</label><a href="#">${commune.arrondissement.libelleEnrichi} (${commune.arrondissement.code})</a></li>
		<li><label>Canton:</label><a href="#">${commune.canton}</a></li>
	</ul>
</form>
#{/if}